body {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

label {
    display: grid;
    margin-bottom: 10px;
}

input[type="submit"],
input[type="reset"],
textarea,
input,
body,
option[value="masculino"] {
    border-radius: 50px;
    background: linear-gradient(145deg, #fefefe, #d5d5d5);
    box-shadow: 11px 11px 22px #b9b9b9,
        -11px -11px 22px #ffffff;
}